<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>feed</title>
  <link rel="stylesheet" href="/stylesheets/feed.css">
  <!-- <link rel="shortcut icon" href="/images/icons8-instagram-32.png" sizes="64x64"  type="image/x-icon"> -->
  <link rel="icon" type="image/png" sizes="64x64" href="https://icons8.com/icon/Xy10Jcu1L2Su/instagram">

  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">


</head>
<body>
  <div id="rainbow-progress-bar"></div>
  <%- include('partials/sidebar.ejs') %>


  <div id="main">
    <div class="theme-toggle">
      <label for="theme-switch">Dark Mode</label>
      <input type="checkbox" id="theme-switch">
  </div>
    <div id="up-arrow">
      <a href=""><i class="ri-arrow-up-circle-line"></i></a>
    </div>

    <div id="logoo">
      <img src="/images/pngwing.com.png" alt="">
    </div>
    <div id="story-bar">
      <div class="upload-story">
        <h1>Create Story</h1>
        <form action="/createStory" method="post">
          <input type="text" name="media" placeholder="upload story" />
          <input
            type="text"
            name="caption"
            placeholder="write story caption"
          />
          <button>submit</button>
        </form>
        <i id="close-upload-story" class="ri-close-line"></i>
      </div>
      <div id="stories">
        <div class="add-story">
          <img src="/uploads/<%= currentUser.image %>"  alt="" />
          <i id="open-add-story" class="ri-add-fill"></i>
        </div>
        <div class="user-stories">
          <% allStories.forEach(function(story){ %>
            <div class="story">
              <img id="story-img1" class="storyimg-<%= story.user.username %>" src="/uploads/<%= story.user.image %>" alt="" />
            </div>
          <% }) %>
        </div>
      </div>
    
    </div>


    <div id="feed-area">
    
   

      <% allposts.reverse().forEach(post=>{ %>

        <% if(post.user.follower.includes(currentUser._id)){ %>
          <div id="feed-card">
            <div id="nav">
             <a href="/profile/<%= post.user._id %>"> <img id="mini" src="/uploads/<%= post.user.image %>" alt=""></a>
              <a href="/profile/<%= post.user._id %>"> <h2><%= post.user.username %></h2></a>
            <div class="more">
             
              <i id="open-more-options" class="ri-more-2-line"></i> 
              <div class="more-option">
                <a href="/deletepost/<%= post._id %>"><h4>Delete Post</h4></a>
                <a href="/profile/<%= post.user._id %>"><h4>View Profile</h4></a>
                <a href="/savepost/<%= post._id %>"><h4>Save Post</h4></a>
              </div>
            </div>
            </div>
            
            <!-- <img id="feed-img" src="/uploads/<%= post.media %>" alt=""> -->
            <% if(post.mediaType == 'image/jpeg' || post.mediaType == 'image/jpg' || post.mediaType == 'image/png'){ %>
              <img id="feed-img" src="/uploads/<%= post.media %>" alt="haha">   
      
           <% } else{ %>
           <a href="/reel/<%= post._id %>"> <video id="feed-video" autoplay controls muted loop  src="/uploads/<%= post.media %>"></video></a>
  
         <%  } %>
            <div id="bottom">
              <div id="line1">
                <a href="/like/<%=post._id%>"> <%=post.likes.length%>             
                  <% if(post.likes.includes(currentUser._id)){ %>
                <i
                  id="story-like-btn"
                  style="color: red"
                  class="ri-heart-3-fill"
                ></i>
                <% } else { %>
                <i
                  id="story-like-btn"
                
                  class="ri-heart-3-line"
                ></i>
                <% } %>
                </a>
                
                <i id="comment-icon" class="ri-chat-3-line"></i>
                <a href=""> <i class="ri-share-forward-line"></i></a>
                <a href="/savepost/<%= post._id %>"> 
                  <% if(currentUser.savedPosts.includes(post._id)){ %>
                    <i
                      id="story-like-btn"
                      style="color: #000"
                      class="ri-bookmark-fill"
                    ></i>
                    <% } else { %>
                    <i
                      id="story-like-btn"
                    
                    class="ri-bookmark-line"
                    ></i>
                    <% } %></a>
              </div>
              <div id="line2">
                <h3><%= post.user.username %></h3>
                <h3><%= post.caption %></h3>
              </div>
              <div class="comment">
                <h4 id="add-comment">Add a comment</h4>
                <div class="comments-container">
                  <% post.comments.forEach(function(comment){ %>
                  <div class="comments">
                    <div class="comment-profile">
                      <img src="<%= comment.user.profilePic %>" alt="" />
                    </div>
                    <div class="comment-data">
                      <h4><%= comment.user.username %></h4>
                      <h3><%= comment.text %></h3>
                      <small> <%= comment.createdAt.toLocaleString() %> </small>
                    </div>
                    <div class="comment-review">
                      <a href=""><i class="ri-reply-line"></i></a>
                      <a href="/likeComment/<%= comment._id %>"
                        ><i class="ri-heart-line"></i
                      ></a>
                      <a href="/delete/<%= comment._id %>"
                        ><i class="ri-delete-bin-7-fill"></i
                      ></a>
                      
                    </div>
                  </div>
                  <% }) %>
                  <form action="/addComment/<%= post._id %>" method="post">
                    <input
                      id="comment-input"
                      type="text"
                      name="comment"
                      placeholder="write comment to <%= post.user.username %>"
                    />
                  </form>
                </div>
              </div>
              <div id="lastt">
                <h6 id="time-posted"><%= post.createdAt %></h6>

              </div>
            </div> 
  
          </div>
          
        <% } else { %>
          <h5 id="nonnn" >no posts to show here as you have not followed anyone yet. go to the search page to follow users</h5>
       <% } %>
    
       
      <% }) %>


    </div>

  
  </div>

  <script  src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ=="  crossorigin="anonymous"  referrerpolicy="no-referrer"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const themeSwitch = document.getElementById('theme-switch');
    
    themeSwitch.addEventListener('change', function () {
        document.body.classList.toggle('dark-theme', themeSwitch.checked).then(eve=>{
          document.querySelector('.theme-toggle>label').style.display = 'none '
        })
        document.body.classList.toggle('light-theme', !themeSwitch.checked);
    });
});

let progressBar = document.querySelector("#rainbow-progress-bar");
window.onload = function() {
  progressBar.style.display = 'none';
};

  // CODE TO OPEN COMMENT INPUT FIELD

  // var clicks = 1;
  //   document.querySelectorAll('#comment-icon').addEventListener("click", function (event) {
    
  //     if (clicks == 1) {
  //      document.querySelector( "#comment-input" ).style.display = "flex";
  //      console.log("clicked")
  //       clicks = 2;
  //     }
  //     else if(clicks == 2) {
  //       document.querySelector( "#comment-input").style.display = "none";
  //       document.querySelector( "#main").style.display = "none";
        
  //       clicks = 1;
  //     }
  //   });


  // CODE TO OPEN & CLOSE ADD STORY PAGE

  document.querySelector("#open-add-story").addEventListener("click", function () {
      document.querySelector(".upload-story").style.scale = "1";
    });

  document.querySelector("#close-upload-story").addEventListener("click", function () {
      document.querySelector(".upload-story").style.scale = "0";
    });

  // CODE TO OPEN & CLOSE MORE OPTIONS
  var click = 1;
document.querySelectorAll("#open-more-options").forEach(function (openInput) {
      
      openInput.addEventListener("click", function (event) {
         if (click == 1) {
          parentElement.querySelector( ".more-option" ).style.scale = "1";
          click = 2;
        } else if (click == 2) {
          document.querySelector(
            ".more-option"
          ).style.scale = "0";
          click = 1;
        }
      });
    });

  //CODE FOR FULL VIEW OF STORY

  document.querySelectorAll(".story").forEach(function (BigStory) {
    BigStory.addEventListener("click", function () {
      document.querySelector(".big-story").style.scale = "1";
    });
  });

  // AXIOS CODE FOR LIKING STORY

  async function like(event,storyId) {
    var response = await axios.get(`/likeStory/${storyId}`);
    // console.log(response.data.status)
    if(response.data.status == "liked"){
        event.target.style.color = "red"
    }
    else{
        event.target.style.color = "white"
    }
  }

  // CODE FOR OPEN DELETE STORY

  document.querySelectorAll("#open-delete-story").forEach(function (DeleteStory) {
      var click = 1;
      DeleteStory.addEventListener("click", function (open) {
        if (click == 1) {
          open.target.parentElement.querySelector(
            ".delete-story"
          ).style.scale = 1;
          click = 2;
        } else if (click == 2) {
          open.target.parentElement.querySelector(
            ".delete-story"
          ).style.scale = 0;
          click = 1;
        }
      });
    });


    // var shift = '-94.5vw'

    // document.querySelector('#next-story').addEventListener('click',(e)=>{
    //   document.querySelector('.big-story').style.marginLeft += shift
    // })
    // document.querySelector('#p-story').addEventListener('click',(e)=>{
    //   document.querySelector('.big-story').style.marginRight += shift
    // })




    // ---------------------------------------------------------------------

    function reset() {
        document.querySelectorAll(".suggestion").forEach(function (change) {
          change.style.backgroundColor = "rgb(157, 161, 157)";
          change.style.color = "white";
        });
        document
          .querySelectorAll(".suggestion i")
          .forEach(function (changeIcon) {
            changeIcon.style.transform = "rotateX(0deg)";
          });
      }


    // document.querySelectorAll(".storyimg-adarshkaurav.47").forEach(story=>{
    //   console.log(haha);
    // })



</script>
</body>
</html>
  
